# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

# ----------------------------
# Virtual Environments
# ----------------------------
venv/
env/
.venv/

# ----------------------------
# Environment Variables
# ----------------------------
.env
.env.*

# ----------------------------
# MLflow
# ----------------------------
backend/mlruns/

# ----------------------------
# Model Artifacts
# ----------------------------
backend/artifacts/
!backend/artifacts/.gitkeep

# ----------------------------
# Jupyter
# ----------------------------
.ipynb_checkpoints/

# ----------------------------
# VS Code
# ----------------------------
.vscode/

# ----------------------------
# JetBrains
# ----------------------------
.idea/

# ----------------------------
# OS Files
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# Logs
# ----------------------------
*.log

# ----------------------------
# Node
# ----------------------------
frontend/node_modules/
frontend/dist/
frontend/.vite/

# ----------------------------
# Docker
# ----------------------------
*.tar

# ----------------------------
# Temporary Files
# ----------------------------
tmp/
temp/
*.tmp
node_modules/
backend/mlflow.db
mlflow.db
backend/mlruns/